body, html {
    font-family: PingFang SC,Helvetica Neue,Hiragino Sans GB,Helvetica,Microsoft YaHei,Arial;
}

.am-checkbox-item .am-list-line:after {
    border-bottom: 0px solid #ddd !important;
}

.am-checkbox-item .am-list-thumb:first-child {
    margin-right: 0.15rem !important;
}

.text {
    white-space: pre-wrap !important;
}

.am-checkbox-agree .am-checkbox-inner {
    top: 0.19rem !important;
}

.mask{
    background: rgba(0, 0, 0, 0.80);
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.code-info{
    background:none;
}
.close{
    position: absolute;
    width: 10%;
    top:50%;
    left:50%;
    margin-top: 31%;
    margin-left: 31%;
}
.code-img{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: 41%;
    margin-left: -40%;
}

.sc-example {
    padding-bottom: 0.26rem;
}
.sub-title {
    color: #888;
    font-size: .28rem;
    padding: 30px 0 18px 0;
}

.loading-mask {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    z-index: 99999;
}

.loading-mask-hide {
    pointer-events: none;
    -webkit-animation: fadeOut ease 0.5s forwards;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.am-grid {
    border: 1px solid #ddd;
}
.sub-title {
    color: #888;
    font-size: .28rem;
    padding: 0.3rem 0 0.18rem 0.3rem;
}
.credit_cart_item {
    float: left;
    width: 50%;
    position: relative;
    height: 140px;
    border-top: 1px solid #ddd;
}

.credit_cart_item_right:after {
    content: "";
    border-left: 1px solid #ddd;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0
}

.clear {
    clear: both;
}

.article-image {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-category {
    color: red;
}

.article-name {
    position: absolute;
    top: 25px;
    left: 140px;
    width: 120px;
    height: 50px;
}

.article-summary {
    position: absolute;
    top: 73px;
    left: 140px;
    right: 70px;
    height: 50px;
    font-size: 24px;
    overflow: hidden;
    white-space: normal;
    height: 3em;
    text-overflow: ellipsis;
    color: #999999;
}

.article-content {
    margin: 20px;
}

.article-content img {
    width: 100%;
}